#ch{
	width: 999px;
	height: 333px;
	display: flex;
	flex-direction:row;
	margin: auto;
}
#col{
	width: 999px;
	height: 667px;
	display: flex;
	flex-direction:column;
	margin: auto;
}

.rd{
	width: 999px;
	height: 267px;
	display: flex;
	flex-direction:row;
	margin: auto;
}

#blue1{flex-grow: 1;}
#white2{flex-grow: 2;}
#red3{
	flex-grow: 1;
	width: 999px;
	height: 333px;
	margin: auto;
}

#yellow4{flex-grow: 2;}
#blue5{flex-grow: 1;}
#red6{flex-grow: 1;}

.blue7{flex-grow: 3;}
.white8{flex-grow: 1;}
.red9{flex-grow: 3;}
#white9{
	flex-grow: 7;
	height: 83px;
}

h3{
	font-family: 'Open Sans', sans-serif;
	text-align: center;
}







