html,body{
	min-height: 100vh;
	margin: 0;
	padding: 0;
	background-color: white;
	display: flex;
	align-items: center;
	justify-content: center;
	
}

#face{
	background: rgb(189,195,199);
	width: 180px;
	height: 350px;
	border-radius: 120px 120px 20px 20px;
}

#mouth{
	position: absolute;
	display: flex;
	width: 140px;
	height: 60px;
	margin: 250px 13px;
	background: rgb(253,227,167);
	border:7px solid rgb(52,73,94);
	border-radius: 80px;
	flex-wrap: wrap;
	z-index: 1;
}

.teeth{
	position: absolute;
	margin:3px;
	border: 3px solid rgb(52,73,94);
	z-index: 1;
	width: 23.33px;
	height: 20px;
	z-index: 0;
}


#eyes{
	position: absolute;
	display: flex;
	align-content: space-around;
	width: 220px;
	height: 70px;
	margin: 120px -30px;
	background: black;
	border:8px solid rgb(52,73,94);
	border-radius: 80px;
	z-index: 2;
}

#eyeL{
	position: absolute;
	width: 90px;
	height: 90px;
	background:rgb(253,227,167);
	border-radius: 100%;
	margin: -12px 15px;
	z-index: 1;
}

#eyeR{
	position: absolute;
	width: 90px;
	height: 90px;
	background:rgb(253,227,167);
	border-radius: 100%;
	margin: -12px 115px;
	z-index: -1;
	overflow: hidden;
}

#top{
	position: absolute;
	width: 90px;
	height: 90px;
	background: rgb(189,195,199);
	border-radius: 200px 200px 0px 0px;
	margin: -15px 46px;
}

#antenna{
	position: absolute;
	width: 15px;
	height: 120px;
	background: rgb(189,195,199);
	margin: -133px 85px;
}

#ball{
	position: absolute;
	width: 25px;
	height: 25px;
	background: rgb(189,195,199);
	border-radius: 100%;
	margin: -155px 80px;
}
}