/*body, html{
	width: 100%;
	height: 80vh;
}*/


#outter{
	margin: 20% auto;
	width: 60%;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

#container{
	border: 5px solid black;
	border-radius: 10px 10px;
	justify-content: center;
	display: flex;
}
#container2{
	position: relative;
	border-radius: 10px 10px;
	justify-content: center;
	display: inline-flex;
}

div div{
	text-align: center;
	font-size: 110px;
	font-family: 'Orbitron', sans-serif;
}

.but{
	text-align: center;
	font-size: 70px;
	font-family: 'Orbitron', sans-serif;
	margin: 30px;
}

.but:hover{
	color:#B8B8B8;
	cursor: pointer;
}