
html,body{
	margin: 0;
	height: 100%;
}

#cont{
	display: inline-flex;
	align-items: center;
	width: 95%;
}

div{
	text-align: center;
	margin: 50px 30px;
	height: 100px;
}
div input{
	text-align: center;
	font-size: 70px;
	margin: auto;
	height: 100%;
	width: 100%;
	margin: auto;
}

@keyframes blink {
from { opacity: 1.0; }
  to { opacity: 0.0; }
}

p {
	font-size: 70px;
	margin-right: 10px;
	font-family: 'Muli', sans-serif;
	text-shadow: 1px;
	font-weight: lighter;
}

#go{
	width:20%; 
	height: 106px;
}


#in{
	animation: blink 1s infinite;
}
